.photo-container-1 {
    max-width: 380px;
    width: 100%;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
}
.photo-container-1 img {
    width: 100%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
}
.photo-container-1 .photo-0 {
    position: relative;
    z-index: -2;
}
.photo-container-1 .photo-1 {
    position: absolute;
    top:-100%;
    animation: fromtop 10s linear 5s infinite;
}
.photo-container-1 .photo-2 {
    position: absolute;
    top:-100%;
    animation: fromtop 10s linear infinite;
}
@keyframes fromtop {
    0% {
        top: -100%;
    }
    4% {
        top: 0;
    }
    5% {
        top: -20px;
    }
    6% {
        top: 0;
    } 
    49.99999% {
        top: 0;
        z-index: 1;
    }   
    50% {
        top: 0;
        z-index: -1;
    }  
    100% {
        top: 0;
        z-index: -1;      
    }  
}
